@model Odimar.Models.DashboardViewModel

<h1> Welcome @User.Identity.Name </h1>

@if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
{
    <partial name="AdminDashboard" for="AdminDashboard"/>
}
else if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Employee"))
{
    <partial name="EmployeeDashboard" for="EmployeeDashboard" />

}

else if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Customer"))
{
    <partial name="CustomerDashboard" for="CustomerDashboard" />
    
}